@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer base {
  body {
    margin: 0 auto;
    max-width: 1920px;
  }
}
html,
body,
#root,
.app {
  width: 100%;
  background: #f9f6f4;
}
table {
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  border-spacing: 1px;
  table-layout: auto;
}
th {
  border: 1px solid #f1f4f8;
  background: #f1f4f8;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  padding-left: 16px;
  padding-bottom: 13px;
  padding-top: 13px;
  color: f1f4f8;

  text-align: left;
}
td {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 21px;
  padding-left: 16px;
  color: #535261;
}
tr:nth-of-type(even) {
  background-color: #f1f4f8;
}
